@import '_cores/styles/_assets.scss';
.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: space(10);
}
.section-heading>p {
  font-size: text-size(small);
}
.project-list {
  display: flex;
  gap: 26px;
}
.project-list > * {
  flex: 1 1 0;
  min-width: 0;
}
@include down(tablet) {
  .project-list {
    gap: space(4);
  }
  .section-heading {
    gap: space(5);
  }
  .section-heading>p {
    max-width: 120px;
  }
}
@include down(mobile) {
  .section-heading {
    display: block;
  }
  .section-heading>p {
    max-width: none;
    margin-top: 18px;
  }
  .project-list {
    flex-direction: column;
    gap: space(10);
  }
}
@include down(mobile) {
  .project-list > * {
    flex: 0 1 auto;
  }
}

.all-projects {
  display: inline-flex;
  align-items: center;
  gap: space(3);
  margin-top: space(10);
  color: var(--purple);
  font-size: text-size(caption);
}
