@import '_cores/styles/_assets.scss';
.button {
  border: 0;
  border-radius: radius(control);
  padding: 14px space(5);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  font-size: text-size(small);
  font-weight: fw(semi-bold);
}
.primary {
  background: color(portfolio, button);
  color: color(portfolio, on-button);
}
.primary:hover {
  background: color(portfolio, button-hover);
  color: color(portfolio, on-button);
  transform: translateY(-2px);
}
