@import '_cores/styles/_assets.scss';
.experience {
  display: flex;
  gap: 70px;
}
.experience-intro {
  font-size: text-size(caption);
  margin-top: space(6);
}








.experience > * {
  flex: 1 1 0;
  min-width: 0;
}
@include down(tablet) {
  .experience {
    gap: 35px;
  }
}
@include down(mobile) {
  .experience {
    flex-direction: column;
    gap: 30px;
  }
}
@include down(mobile) {
  .experience > * {
    flex: 0 1 auto;
  }
}
