@import '_cores/styles/_assets.scss';
.about {
  display: flex;
  gap: 70px;
}
.about-copy>p:first-child {
  color: color(portfolio, copy);
  font-size: text-size(lead);
  margin-bottom: space(5);
}
.about-copy>p {
  font-size: text-size(caption);
}
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.stats strong {
  font-size: text-size(statistic);
  font-weight: fw(medium);
  line-height: 1.3;
  letter-spacing: -2px;
}
.stats strong span {
  color: var(--purple);
}
.stats small {
  display: block;
  font-size: text-size(meta);
  color: var(--muted);
}
.about > * {
  flex: 1 1 0;
  min-width: 0;
}
@include down(tablet) {
  .about {
    gap: 35px;
  }
}
@include down(mobile) {
  .about {
    flex-direction: column;
    gap: 30px;
  }
}
@include down(mobile) {
  .about > * {
    flex: 0 1 auto;
  }
}
