@import "_cores/styles/_assets.scss";

.timeline article {
	padding: 0 0 26px 25px;
	border-left: 1px solid color(portfolio, timeline);
	position: relative;
}
.timeline article:before {
	content: "";
	width: 7px;
	height: 7px;
	border-radius: radius(circle);
	background: var(--purple);
	position: absolute;
	left: -4px;
	top: 8px;
}
.timeline-date {
	font-size: text-size(overline);
	letter-spacing: 1.5px;
	color: var(--muted);
}
.timeline h3 {
	font-size: text-size(item-title);
	font-weight: fw(medium);
	letter-spacing: -0.5px;
	margin: 10px 0;
}
.timeline h3 span {
	float: right;
	color: var(--purple);
}
.timeline h4 {
	font-size: text-size(small);
	color: var(--purple);
	font-weight: fw(regular);
	margin-bottom: space(3);
}
.timeline p {
	font-size: text-size(small);
}
.timeline article:last-child {
	padding-bottom: 0;
}
