@import '_cores/styles/_assets.scss';
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content p, .footer-content>div {
  font-size: text-size(meta);
}
.footer-content>div {
  display: flex;
  gap: 22px;
}
@include down(mobile) {
  .footer-content {
    flex-wrap: wrap;
    gap: 18px;
  }
  .footer-content p {
    font-size: text-size(overline);
  }
  .footer-content>div {
    width: 100%;
    gap: 25px;
  }
}
.site-footer {
  padding-block: 30px;
}
