@import '_cores/styles/_assets.scss';
.toolbox {
  padding-block: 45px;
  border-bottom: 1px solid var(--line);
}
.toolbox :global(.eyebrow) {
  margin-bottom: 22px;
}
.toolbox>div {
  display: flex;
  flex-wrap: wrap;
  gap: 13px space(7);
  color: color(portfolio, toolkit);
  font-size: text-size(caption);
}
@include down(mobile) {
  .toolbox>div {
    font-size: text-size(navigation);
    gap: space(3) 22px;
  }
}
