/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
	header: 20,
	footer: 1,
);
$z-index: map-merge($z-index, (content: 1, decoration: 2, skip-link: 100));
